
// include our fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');


// sans-serif mixin
@mixin font-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}


// sans-serif mixin
@mixin font-title-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}


// sans-serif mixin
@mixin font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}


// bold face
@mixin font-bold {
	font-weight: 700;
}
